@charset "UTF-8";

.admin_jumun {
	width: 1200px;
	height: 1800px;
	margin-left: 250px;
}

.admin_jumun_top {
	width: 300px;
	height: 100px;
	font-weight: bold;
	font-size: 30px;
	line-height: 100px;
}

/* 검색어 영역 */

.admin_jumun_top_search {
	width: 1000px;
	height: 50px;
}

.jumun_search {
	width: 120px;
	height: 50px;
	float: left;
}

.jumun_search_A {
	width: 110px;
	height: 30px;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.jumun_search_A:focus {
    border: 1px solid #ccc;
    outline-color: #ccc;
    border-radius: 5px;
}
.jumun_search_A:placeholder {
    color: #ccc;
}

.jumun_search_B {
	width: 120px;
	height: 50px;
	float: left;
}

.jumun_search_B input {
	width: 100px;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.jumun_search_C {
	width: 120px;
	height: 50px;
	float: left;
}

.jumun_search_C img {
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
}

/* 상세 검색 영역  */
.detail_search {
	width: 1000px;
	height: 250px;
	background-color: #ccc;
}

.detail_sangte_A {
	width: 1000px;
	height: 50px;
	font-size: 13px;
	padding-top: 20px;
	margin-left: 20px;
}

.detail_sangte_A div:nth-child(1) {
	font-weight: bold;
}

.detail_sangte_B {
	width: 1000px;
	height: 50px;
	font-size: 13px;
	margin-left: 20px;
}

.detail_sangte_B div:nth-child(1) {
	font-weight: bold;
}

.detail_sangte_C {
	width: 1000px;
	height: 50px;
	font-size: 13px;
	margin-left: 20px;
}

.detail_sangte_C div:nth-child(1) {
	font-weight: bold;
}

.detail_sangte_D {
	width: 1000px;
	height: 50px;
	font-size: 13px;
	margin-left: 20px;
}

.detail_sangte_D div {
	padding-right: 20px;
	float: left;
}

.detail_sangte_D div:nth-child(1) {
	padding-right:900px;
	font-weight: bold;
}

.detail_calender_C button {
	width: 50px;
	height: 25px;
	border: 1px solid #ccc;
}

.detail_calender_D button {
	width: 60px;
	height: 25px;
	border: 1px solid #ccc;
}
.detail_calender_E button {
	width: 60px;
	height: 25px;
	border: 1px solid #ccc;
}
.detail_calender_F button {
	width: 50px;
	height: 25px;
	border: 1px solid #ccc;
}
.detail_calender_G button {
	width: 50px;
	height: 25px;
	border: 1px solid #ccc;
}

/* 주문 상세 영역  */

.admin_jumun_main {
	width: 1460px;
	height: 2000px;
	margin-top: 20px;
}

.admin_jumun_main_A {
	width: 1460px;
	height: 100px;
	float: left;
	margin-bottom: 3px;
}

.admin_jumun_main_A div:nth-child(n) {
	width: 110px;
	height: 50px;
	display: block;
	text-align: center;
	line-height: 50px;
	background-color: #eee;
	border: 1px solid rgb(200,200,200);
	padding: 0 5px;
	float: left;
	font-size: 15px;
}

.admin_jumun_main_A div:nth-child(1) {
	width: 100px;
	height: 102px;
	line-height: 100px;
	padding-right: 5px;
}

.admin_jumun_main_A_A {
		width: 250px;
		height: 100px;
		display: block;
		float: left;
		padding-right: 250px;
}
.admin_jumun_main_A_A div {
		width: 100px;
		height: 100px;
		display: block;
		float: left;
		background-color: #eee;
		border-left: 1px solid rgb(200,200,200);
		border-top:1px solid rgb(200,200,200);
		line-height: 100px;
		text-align: center;
}



/* 상세 정보창 영역  */
.admin_jumun_main_B {
	width: 1460px;
	height: 100px;
	float: left;
}

.admin_jumun_main_B div:nth-child(n) {
	width: 110px;
	height: 50px;
	display: block;
	text-align: center;
	line-height: 50px;
	border: 1px solid rgb(200,200,200);
	padding: 0 5px;
	float: left;
	font-size: 15px;
	overflow:hidden;
 	text-overflow:ellipsis;
 	white-space:nowrap;
 	overflow-wrap: normal;
}

.admin_jumun_main_B div:nth-child(1) {
	width: 100px;
	height: 102px;
	line-height: 100px;
	padding-right: 5px;
	overflow:hidden;
 	text-overflow:ellipsis;
 	white-space:nowrap;
 	overflow-wrap: normal;
}


.admin_jumun_main_B_A {
		width: 250px;
		height: 100px;
		display: block;
		float: left;
		padding-right: 250px;
}
.admin_jumun_main_B_A div {
		width: 100px;
		height: 100px;
		display: block;
		float: left;
		border-left: 1px solid rgb(200,200,200);
		border-top:1px solid rgb(200,200,200);
		line-height: 100px;
		text-align: center;
}


/* 수정 버튼 영역  */
.jumun_sujung_btn button {
	width: 60px;
	height: 20px;
	border: 1px solid #ccc;
	border-radius: 5px; 
}
.jumun_sujung_btn button:focus {
    border: 1px solid #aaa;
    outline-color: #aaa;
}
.jumun_sujung_btn button:placeholder {
    color: #aaa;
}

/* 주문관리 페이지번호 영역  */

.jumun_number_page {
    width: 1260px;
    height: 100px;
    float: left;
    padding-top: 100px;
}

.jumun_number_page li {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.jumun_pagenum {
    width: 960px;
    height: 100px;
    margin: auto;
    text-align: center;
    line-height: 20px;
}

.jumun_pagenum img {
    width: 10px;
    height: 10px;
}

/* 버튼관련 */
.delete_A button {
	width: 60px;
	height: 20px;
	border: 1px solid #ccc;
	border-radius: 5px; 
}
.delete_A button:focus {
    border: 1px solid #aaa;
    outline-color: #aaa;
}
.delete_A button:placeholder {
    color: #aaa;
}

/* 결제관리  */


.admin_cash_main {
	width: 1100px;
	height: 2000px;
	margin-top: 20px;
}

.admin_cash_main_A {
	width: 1100px;
	height: 100px;
	float: left;
	margin-bottom: 3px;
}

.admin_cash_main_A div:nth-child(n) {
	width: 110px;
	height: 50px;
	display: block;
	text-align: center;
	line-height: 50px;
	background-color: #eee;
	border: 1px solid rgb(200,200,200);
	padding: 0 5px;
	float: left;
	font-size: 15px;
}

.admin_cash_main_A div:nth-child(1) {
	width: 100px;
	height: 102px;
	line-height: 100px;
	padding-right: 5px;
}

/* 상세 정보창 영역  */
.admin_cash_main_B {
	width: 1100px;
	height: 100px;
	float: left;
}

.admin_cash_main_B div:nth-child(n) {
	width: 110px;
	height: 50px;
	display: block;
	text-align: center;
	line-height: 50px;
	border: 1px solid rgb(200,200,200);
	padding: 0 5px;
	float: left;
	font-size: 15px;
	overflow:hidden;
 	text-overflow:ellipsis;
 	white-space:nowrap;
 	overflow-wrap: normal;
}

.admin_cash_main_B div:nth-child(1) {
	width: 100px;
	height: 102px;
	line-height: 100px;
	padding-right: 5px;
	overflow:hidden;
 	text-overflow:ellipsis;
 	white-space:nowrap;
 	overflow-wrap: normal;
}





