/** 공통 속성 설정*/
    * {
        padding: 0;
        margin: 0;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    /** float 처리 */
    .pull-left {
        float: left;
    }

    .clearfix:after {
        content: '';
        display: block;
        clear: both;
        float: none;
    }

    /** side_place 영역 */
    .sidebar_place {
        width: 220px;
        min-height: 4000px;
        margin-top: 55px;
        position: fixed;
        top: 0px;
        z-index: 9999;
        /*background-color: red;*/
    }

    /** sidebar_icon 영역 -시작- */
    .sidebar_icon_place {
        width: 60px;
        height: 4000px;
        background-color: white;
        border-right: 1px solid rgb(200, 200, 200);
    }

    .sidebar_icon {
        width: 60px;
    }

    /** sidebar 영역 -끝- */

    /** sidebar_text 영역 -시작- */
    .sidebar_text_place {
        width: 150px;
        height: 4000px;
        background-color: rgb(220, 220, 220);
        border-right: 1px solid rgb(200, 200, 200);
    }

    .sidebar_text_place2 {
        margin-top: 40px;
        margin-left: 10px;
    }

    .sidebar_text_place h3 {
        margin-bottom: 10px;
    }

    .sidebar_text_place li {
        line-height: 25px;
        font-size: 13px;
        font-weight: bold;
    }

    .sidebar_text_place2 a {
        color: rgb(100, 100, 100);
    }

    /** sidebar_text 영역 -끝- */