<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>Tranding</title>
<script src="https://use.fontawesome.com/70ab4d52b6.js"></script>
<link rel="stylesheet" type="text/css" href="../css/reset.css" />

</head>
<body>
	<div class="event_head">
		<ul>
			<li><a href="#">ALL</a></li>
			<li><a href="#">NEWS</a></li>
			<li><a href="#">EVENT</a></li>
		</ul>
	</div>
	
	<div class="event_contents">
		<ul>
			<li><a><img class="thumbnail" src=""><span>게시물1</span></a></li>
			<li><a><img class="thumbnail" src=""><span>게시물1</span></a></li>
			<li><a><img class="thumbnail" src=""><span>게시물1</span></a></li>
			<li><a><img class="thumbnail" src=""><span>게시물1</span></a></li>
			<li><a><img class="thumbnail" src=""><span>게시물1</span></a></li>
			<li><a><img class="thumbnail" src=""><span>게시물1</span></a></li>
		</ul>
	</div>
	<div>
		<button type="button">더 보기</button>
	</div>
</body>
</html>