<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Tranding</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/header.css" />
    <style type="text/css"></style>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="#" class="logoA">
                    <img src="../img/logo.png" alt="로고" />
                </a>
            </div>
            <div class="search">
                <div class="search1">
                    <a href="#" class="search2">&nbsp;플스미스 최대 60% 세일</a>
                    <a href="#" class="search3">
                        <img src="../img/icon_magnifier_black.png">
                    </a>
                </div>
            </div>
            <div class="headWidth">
                <div class="head">
                    <ul class="head1">
                        <li><a href="#">Woman</a></li>
                        <li><a href="#">Man</a></li>
                        <li><a href="#">Brand</a></li>
                        <li><a href="#" class="">랭킹</a></li>
                        <li><a href="#">세일</a></li>
                        <li><a href="#">이벤트</a></li>
                        <li><a href="#">아울렛</a></li>
                    </ul>
                </div>
            </div>
            <div class="icon">
                <ul class="icon1">
                    <li>
                        <a href="#"><img src="../img/iconB.PNG" alt="장바구니" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="../img/iconC.PNG" alt="찜" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="../img/iconD.PNG" alt="마이페이지" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>