<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Tranding</title>
    <link rel="stylesheet" type="text/css" href="../css/master_header.css" />
    <style type="text/css">
    /** 공통 속성 설정*/
    * {
        padding: 0;
        margin: 0;
    }

    ul {
        list-style: none;
    }
    </style>
</head>

<body>
    <div class="top_box1">
        <span class="box1_top">
            <a href="#">
                <div class="box1_text">ADMIN</div>
            </a>
            <a href="#">
                <div class="home_img"></div>
            </a>
            <select class="drop_out" name="drop_out">
                <option vlaue="master_info">관리자 정보</option>
                <option vlaue="master_rogout">로그아웃</option>
            </select>
        </span>
    </div>
    <div class="a"></div>
    <script src="http://code.jQuery.com/jQuery-3.2.1.min.js"></script>
    <script type="text/javascript">
    </script>
</body>

</html>