<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Tranding</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/header.css" />
    <link rel="stylesheet" type="text/css" href="../css/women.css" />
    <link rel="stylesheet" type="text/css" href="../css/womencontent.css" />
    <style type="text/css"></style>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="javascript:void(0);" class="logoA">
                    <img src="../img/logo.png" alt="로고" />
                </a>
            </div>
            <div class="search">
                <div class="search1">
                    <a href="javascript:void(0);" class="search2">&nbsp;플스미스 최대 60% 세일</a>
                    <a href="javascript:void(0);" class="search3">
                        <img src="../img/search.png">
                    </a>
                </div>
            </div>
            <div class="headWidth">
                <div class="head">
                    <ul class="head1">
                        <li><a href="javascript:void(0);">Woman</a></li>
                        <li><a href="javascript:void(0);">Man</a></li>
                        <li><a href="javascript:void(0);">Brand</a></li>
                        <li><a href="javascript:void(0);" class="">랭킹</a></li>
                        <li><a href="javascript:void(0);">세일</a></li>
                        <li><a href="javascript:void(0);">이벤트</a></li>
                        <li><a href="javascript:void(0);">아울렛</a></li>
                    </ul>
                </div>
            </div>
            <div class="icon">
                <ul class="icon1">
                    <li>
                        <a href="javascript:void(0);"><img src="../img/iconB.PNG" alt="장바구니" /></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="../img/iconC.PNG" alt="찜" /></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="../img/iconD.PNG" alt="마이페이지" /></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="women">
            <div class="women_top">
                <div class="women_text">
                    <a href="javascript:void(0);" class="wtext">WOMEN</a>
                    <ul class="wtext1">
                        <li><a href="javascript:void(0);">자라</a></li>
                        <li><a href="javascript:void(0);">코스</a></li>
                        <li><a href="javascript:void(0);">구찌</a></li>
                        <li><a href="javascript:void(0);">버버리</a></li>
                        <li><a href="javascript:void(0);">생로랑</a></li>
                    </ul>
                    <ul class="wtext2">
                        <li><a href="javascript:void(0);">인기순</a></li>
                        <li><a href="javascript:void(0);">인기순</a></li>
                        <li><a href="javascript:void(0);">최신순</a></li>
                        <li><a href="javascript:void(0);">가격낮은순</a></li>
                        <li><a href="javascript:void(0);">가격높은순</a></li>
                    </ul>
                </div>
            </div>
            <div class="women_middle">
                <div class="women_cont">
                    <div class="women_side">
                        <ul class="side_bar1">
                            <li class="womenside1">
                                <div class="kategorie1">
                                    <a href="javascript:void(0);">카테고리</a>
                                    <a href="javascript:void(0);" class="rg"><img src="../img/down.png"></a>
                                    <a href="javascript:void(0);" class="rg"><img src="../img/up.png"></a>
                                </div>
                                <ul class="kategorie2">
                                    <li><a href="javascript:void(0);">의류</a></li>
                                    <li><a href="javascript:void(0);">가방</a></li>
                                    <li><a href="javascript:void(0);">액세서리</a></li>
                                    <li><a href="javascript:void(0);">신발</a></li>
                                </ul>
                            </li>
                            <li class="womenside2">
                                <ul>
                                    <li class="brand1">
                                        <a href="javascript:void(0);">브랜드</a>
                                        <a href="javascript:void(0);" class="rg"><img src="../img/down.png"></a>
                                        <a href="javascript:void(0);" class="rg"><img src="../img/up.png"></a>
                                    </li>
                                    <form class="brand2" method="get">
                                        <input type="text" name="search_text" class="search_text1" placeholder="ex)구지,구라다..." />
                                        <button type="submit" class="search_icon1">
                                            <img src="../img/search.png" />
                                        </button>
                                    </form>
                                </ul>
                            </li>
                            <li class="womenside3">
                                <div class="price1">
                                    <a href="javascript:void(0);">가격</a>
                                    <a href="javascript:void(0);" class="rg"><img src="../img/down.png"></a>
                                    <a href="javascript:void(0);" class="rg"><img src="../img/up.png"></a>
                                </div>
                                <div class="price2">
                                    <select class="min_price">
                                        <option>최저가</option>
                                        <option>10만</option>
                                        <option>30만</option>
                                        <option>100만</option>
                                        <option>300만</option>
                                        <option>500만</option>
                                    </select>
                                    ~
                                    <select class="max_price">
                                        <option>최고가</option>
                                        <option>10만</option>
                                        <option>30만</option>
                                        <option>100만</option>
                                        <option>300만</option>
                                        <option>500만</option>
                                    </select>
                                </div>
                            </li>
                            <li class="womenside4">
                                <div class="salepok1">
                                    <a href="javascript:void(0);">할인율</a>
                                    <a href="javascript:void(0);" class="rg"><img src="../img/down.png"></a>
                                    <a href="javascript:void(0);" class="rg"><img src="../img/up.png"></a>
                                </div>
                                <ul class="salepok2">
                                    <li>
                                        <input type="checkbox" name="three">
                                        <a href="javascript:void(0);">30% 이하 세일</a>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="three_five">
                                        <a href="javascript:void(0);">30%~50%세일</a>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="five_seven">
                                        <a href="javascript:void(0);">50%~70%세일</a>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="seven">
                                        <a href="javascript:void(0);">70%이상세일</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="women_content clear">
                        <ul class="women_cont1">
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                            <li class="cont1_1">
                                <a href="javascript:void(0);">
                                    <img src="../img/img1.jpg">
                                    <div>
                                        <strong>구지</strong><br />
                                        인터로킹 GG 크로스백 스몰 블랙 Interlocking GG Cross Bag Small Black 510304<br />
                                    </div>
                                    <div class="lf">1,299,000</div>
                                    <div class="lf">34%</div>
                                    <div>1,980,000</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="number_page">
                        <ul class="pagenum1">
                            <li>
                                <a href="javascript:void(0);">
                                    <img src="../img/left.png" />
                                </a>
                            </li>
                            <li><a href="javascript:void(0);">1</a></li>
                            <li><a href="javascript:void(0);">2</a></li>
                            <li><a href="javascript:void(0);">3</a></li>
                            <li><a href="javascript:void(0);">4</a></li>
                            <li><a href="javascript:void(0);">5</a></li>
                            <li><a href="javascript:void(0);">6</a></li>
                            <li><a href="javascript:void(0);">7</a></li>
                            <li><a href="javascript:void(0);">8</a></li>
                            <li><a href="javascript:void(0);">9</a></li>
                            <li><a href="javascript:void(0);">10</a></li>
                            &nbsp;
                            <li><a href="javascript:void(0);"><img src="../img/right.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>