<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../css/rank_page.css" />
    <title>Tranding</title>
    <style type="text/css">
    /** 공통 속성 설정*/
    * {
        padding: 0;
        margin: 0;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    /** float 처리 */
    .pull-left {
        float: left;
    }

    .clearfix:after {
        content: '';
        display: block;
        clear: both;
        float: none;
    }

    /** 베스트상품 -끝-*/
    </style>
</head>

<body>
    <div class="body">
        <div class="product_box">
            <div class="best_product">
                <span class="best_product_title">베스트 상품</span>
                <a href="#">
                    <div class="best_product_all">전체</div>
                </a>
                <a href="#">
                    <div class="best_product_women">여성</div>
                </a>
                <a href="#">
                    <div class="best_product_men">남성</div>
                </a>
                <div class="object_list1">
                    <div class="product_list clearfix">
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                    </div>
                    <a href="#">
                        <div class="all_view">모두 보기</div>
                    </a>
                </div>
            </div>
            <div class="best_product">
                <span class="best_product_title">베스트 브랜드</span>
                <a href="#">
                    <div class="best_product_all">전체</div>
                </a>
                <a href="#">
                    <div class="best_product_women">여성</div>
                </a>
                <a href="#">
                    <div class="best_product_men">남성</div>
                </a>
                <div class="object_list1">
                    <div class="product_list clearfix">
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                    </div>
                    <a href="#">
                        <div class="all_view">모두 보기</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="http://code.jQuery.com/jQuery-3.2.1.min.js"></script>
    <script type="text/javascript">
    </script>
</body>

</html>