<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../css/rank_best_product.css" />
    <title>Tranding</title>
    <style type="text/css">
    /** 공통 속성 설정*/
    * {
        padding: 0;
        margin: 0;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    /** float 처리 */
    .pull-left {
        float: left;
    }

    .clearfix:after {
        content: '';
        display: block;
        clear: both;
        float: none;
    }

    /** 베스트상품 -끝-*/
    </style>
</head>

<body>
    <div class="body">
        <div class="product_box">
            <div class="best_product">
                <span class="best_product_title">베스트 상품</span>
                <span class="text_a">상품 1위부터 100위 리스트입니다.</span>
                <select class="drop_out1" name="drop_out1">
                    <option vlaue="">카테고리</option>
                    <option vlaue="women">여자</option>
                    <option vlaue="men">남자</option>
                </select>
                <select class="drop_out2" name="drop_out1">
                    <option vlaue="women">주간인기</option>
                    <option vlaue="men">월간인기</option>
                </select>
                <div class="object_list1">
                    <div class="product_list clearfix">
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product1 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                        <a href="#">
                            <div class="product2 pull-left">
                                <div class="product_img"></div>
                                구찌<br />
                                GG 마몬트 바이폴드 지갑<br />
                                429,000원<br />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="all_view"><a href="#">더 보기</a></div>
        </div>
        <script src="http://code.jQuery.com/jQuery-3.2.1.min.js"></script>
        <script type="text/javascript">
        </script>
</body>

</html>