<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Tranding</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../css/sale.css" />
	<script src="https://use.fontawesome.com/70ab4d52b6.js"></script>
    <style type="text/css"></style>

</head>
<body>
	<div id="sale_content" class="sale">
		<h2 class="sr-only">Tranding contents</h2>
			<div class="sale_banner">
				<strong class="banner_text">트렌딩 세일 페이지</strong>
				<div>
				<i class="fa fa-gift" aria-hidden="true" style="font-size: 30px;"></i>
				</div>
			</div>
			<div class="sale_header">
				<h2>20 BEST 할인율</h2>
				<div class="gender_select">
					<ul class="gender">
						<li class="gender-item">
							<button type="button" class="gender_button">여성</button>
						</li>
						<li class="gender-item">
							<button type="button" class="gender_button">남성</button>
						</li>
					</ul>
				</div>
				<div>
					<ul class="percent">
						<li class="percent_list"><button type="button" class="percent_button">70%이상</button></li>
						<li class="percent_list"><button type="button" class="percent_button">50~70%</button></li>
						<li class="percent_list"><button type="button" class="percent_button">30~50%</button></li>
						<li class="percent_list"><button type="button" class="percent_button">30%이하</button></li>
					</ul>
				</div>
			</div>
			<div class="sale_container">
				<div class="sale_item_list">
					<ul class="item_list">
						<li>
						<a class="sale_item" href="#">
							<div class="sale_img">
							<img src="https://cdn-images.farfetch-contents.com/13/41/81/98/13418198_21883762_600.jpg" width="175" height="250" >
							</div>
							<div class="sale_item_text">
								<span class="sale_brand">구라다</span>
								<span class="sale_name">품명:구라다 제품5</span>
								<span class="sale_sale_price">현재가:10000</span>
								<span class="sale_percent">할인율:90%</span>
								<span class="sale_price">원가:100000</span>
							</div>
						</a>
						</li>
						<li>
						<a class="sale_item" href="#">
							<div class="sale_img">
							<img src="https://cdn-images.farfetch-contents.com/13/41/81/98/13418198_21883762_600.jpg" width="175" height="250" >
							</div>
							<div class="sale_item_text">
								<span class="sale_brand">구라다</span>
								<span class="sale_name">품명:구라다 제품5</span>
								<span class="sale_sale_price">현재가:10000</span>
								<span class="sale_percent">할인율:90%</span>
								<span class="sale_price">원가:100000</span>
							</div>
						</a>
						</li>
						<li>
						<a class="sale_item" href="#">
							<div class="sale_img">
							<img src="https://cdn-images.farfetch-contents.com/13/41/81/98/13418198_21883762_600.jpg" width="175" height="250" >
							</div>
							<div class="sale_item_text">
								<span class="sale_brand">구라다</span>
								<span class="sale_name">품명:구라다 제품5</span>
								<span class="sale_sale_price">현재가:10000</span>
								<span class="sale_percent">할인율:90%</span>
								<span class="sale_price">원가:100000</span>
							</div>
						</a>
						</li>
						<li>
						<a class="sale_item" href="#">
							<div class="sale_img">
							<img src="https://cdn-images.farfetch-contents.com/13/41/81/98/13418198_21883762_600.jpg" width="175" height="250" >
							</div>
							<div class="sale_item_text">
								<span class="sale_brand">구라다</span>
								<span class="sale_name">품명:구라다 제품5</span>
								<span class="sale_sale_price">현재가:10000</span>
								<span class="sale_percent">할인율:90%</span>
								<span class="sale_price">원가:100000</span>
							</div>
						</a>
						</li>
					</ul>
					<ul class="item_list">
						<li>
						<a class="sale_item" href="#">
							<div class="sale_img">
							<img src="https://cdn-images.farfetch-contents.com/13/41/81/98/13418198_21883762_600.jpg" width="175" height="250" >
							</div>
							<div class="sale_item_text">
								<span class="sale_brand">구라다</span>
								<span class="sale_name">품명:구라다 제품5</span>
								<span class="sale_sale_price">현재가:10000</span>
								<span class="sale_percent">할인율:90%</span>
								<span class="sale_price">원가:100000</span>
							</div>
						</a>
						</li>
						<li>
						<a class="sale_item" href="#">
							<div class="sale_img">
							<img src="https://cdn-images.farfetch-contents.com/13/41/81/98/13418198_21883762_600.jpg" width="175" height="250" >
							</div>
							<div class="sale_item_text">
								<span class="sale_brand">구라다</span>
								<span class="sale_name">품명:구라다 제품5</span>
								<span class="sale_sale_price">현재가:10000</span>
								<span class="sale_percent">할인율:90%</span>
								<span class="sale_price">원가:100000</span>
							</div>
						</a>
						</li>
						<li>
						<a class="sale_item" href="#">
							<div class="sale_img">
							<img src="https://cdn-images.farfetch-contents.com/13/41/81/98/13418198_21883762_600.jpg" width="175" height="250" >
							</div>
							<div class="sale_item_text">
								<span class="sale_brand">구라다</span>
								<span class="sale_name">품명:구라다 제품5</span>
								<span class="sale_sale_price">현재가:10000</span>
								<span class="sale_percent">할인율:90%</span>
								<span class="sale_price">원가:100000</span>
							</div>
						</a>
						</li>
						<li>
						<a class="sale_item" href="#">
							<div class="sale_img">
							<img src="https://cdn-images.farfetch-contents.com/13/41/81/98/13418198_21883762_600.jpg" width="175" height="250" >
							</div>
							<div class="sale_item_text">
								<span class="sale_brand">구라다</span>
								<span class="sale_name">품명:구라다 제품5</span>
								<span class="sale_sale_price">현재가:10000</span>
								<span class="sale_percent">할인율:90%</span>
								<span class="sale_price">원가:100000</span>
							</div>
						</a>
						</li>
					</ul>
				</div>
				<div class="sale_item_line">
					<ul class="line">
						<li class="button1"><button type="button">1</button></li>
						<li class="button2"><button type="button">2</button></li>
					</ul>
					<ul>
						<li><button type="button"><i class="fa fa-hand-o-left" aria-hidden="true"></i>
						</button></li>
						<li><button type="button"><i class="fa fa-hand-o-right" aria-hidden="true"></i>
</button></li>
					</ul>
				</div>
			</div>
	</div>  
	
</body>
</html>